@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background-color: #202d48;
}
